*{
    margin: 0px;
}
.navbar{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    background-color: #6eacda;
}
.nav-link{
    font-size: 20px;
}
.logoImg{
    height: 55px;
    width: 90px;
}
.logoImg img{
    height: 100%;
    width: 100%;
}
#loginBtn:hover{
    color: whitesmoke;
    border-color: whitesmoke;
}
#loginBtn, #logoutBtn{
    color: whitesmoke;
    border-color: whitesmoke;
    font-size: 19px;
}
#logoutBtn{
    display: none;
}

#sellBtn {
    color: whitesmoke;
    border-top-color: #ffce32;
    border-bottom-color: #3a77ff;
    border-radius: 30px;
    font-size: 21px;
}
#sellBtn:hover{
    color: whitesmoke;
    /* color: #0dcaf0; */
    background-color: #6eacda;
}


.sec1{
    margin-top: 20px;
}
.sec1Para{
    font-size: 18px;
}
.cards{
    height: 135px;
    width: 135px;
    cursor: pointer;
}
.cards img {
    border-radius: 10px;
}
body{
    background-color: #6eacda70;
}
footer{
    background-color: #27374475;
}


#sellCard{
    width: 300px;
    border: 3px solid rgb(221, 221, 221);
    border-radius: 10px;
    box-shadow: rgb(255, 255, 255) 0px 3px 8px;
}
.prodImg{
    height: 180px;
}
.prodImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.s{
    display: flex;
    justify-content :center; 
    flex-wrap: wrap; 
    gap: 4px;

}
.prodDes{
    font-size: 16px;
    height: 110px;
}
.cardCity{
    font-size: 16px;
    font-weight: 600;
    margin-top: 6px;
}
#buyProd{
    border: none;
    outline: none;
    border-radius: 7px;
    font-weight: 700;
    padding: 4px 15px;
    background-color: #6EACDA;
    color: whitesmoke;
}
.searchInp{
    padding: 12px;
}
.filterSec{
    border: 2px solid;
    width: 145px;
    padding: 6px 10px;
    border-radius: 10px;
    border-color: whitesmoke;
    margin-top: 2px
}
#dropDown{
    background-color: #6eacda00;
    border: none;
    outline: none;
    font-size: 17px;
}


.reviewcard{
    margin-bottom: 13px;
    box-shadow: 0 1px 19px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
}

.sec5Img{
    height: 65px;
    width: 65px;
    border-radius: 40px;
}
.sec5Para{
    color: black !important;
        border-radius: 10px;
        width: 300px; 
}
.fa-star{
    color: #ffce32
}

h5{
    color: #0dcaf0
}
a {
    text-decoration: none
}
.list-unstyled i{
    font-size: 29px;
}